.main-videos {
  width: 100%;
  position: relative;
  z-index: 2;
}

.main-elements {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding: 40px 20px;
}
.img-video {
  display: flex;
  justify-content: flex-end;
}
.img-video img {
  width: 80%;
}
.video-player {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
