.container-login {
  padding: 0;
}

.main-login {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 0;
}

.left-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 100%;
  height: 100vh;
}
.form-container h2 {
  text-align: start;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}
.logo-login {
  position: absolute;
  top: 15px;
}
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.btn-login button {
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(160, 158, 253);
  color: white;
  width: 80%;
}

.register-link {
  margin-top: 20px;
}

.register-link a {
  text-decoration: none;
  padding: 5px 0;
}
.register-link span {
  font-weight: bold;
}
